<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Elsa 4 Preview" value="https://f.feedz.io/elsa-workflows/elsa-4/nuget/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="cshells-preview" value="https://f.feedz.io/valence-works/cshells/nuget/index.json" />
    <add key="consolelogstreaming-preview" value="https://f.feedz.io/valence-works/consolelogstream/nuget/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="Elsa 4 Preview">
      <package pattern="Elsa.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="cshells-preview">
      <package pattern="CShells.*" />
    </packageSource>
    <packageSource key="consolelogstreaming-preview">
      <package pattern="ConsoleLogStreaming.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
